extends layout

block content
    div.container-content
        div.row
            h1= title
            a(href="/events/new" class='btn btn-success')  Add New Event

        div.events-list
            if events.length
                each event in events
                    div.event 
                        div.event-txt
                            h2= event.name
                            p Date: #{event.date}
                            p Description: #{event.description}
                        div.btn-group
                            a(href=`/events/edit/${event.id}`, class='btn btn-warning') Update
                            a(href=`/events/delete/${event.id}`, class='btn btn-danger') Delete
            else
                p.warning Events are empty